div.navbar{text-align:center;background-color: blue;padding: 5px 20px;}
div.navbar a{padding: 5px 20px;color: white;}
h1{text-align:left;background-color:  lightskyblue;}
div.socialn{background-color: pink;text-align: center;}
footer p{background-color: lightcoral;color: black;text-align: center;}
p{padding: 10px;text-align: left;background-color: lightgreen;}
div.myCV{background-color: lightgreen;}
div.myCV p{text-align: left;}
div.downloadstep p{text-align: left;color: black;background-color: pink;}
div.introgg p{background-color: lightgreen;}
div.chapter{background-color: lightgreen;}
div.topic{background-color: lightgreen;}
div.question{background-color: lightcyan;}